@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    
}

body {
    color: #222;
}


header {
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 100px; */

}


.logo {
    /* font-size: 44px;
    font-weight: bold;
    font-style: italic;
    font-family: "Grechen Fuemen", serif; */

    
  font-family: "Grechen Fuemen", cursive;
  font-weight: bold;
  font-size: 44px;
  font-style: italic;


    
    
}
.logo span {
    color: #f97316;
    font-style: italic;
    /* font-family: "Grechen Fuemen", serif; */
    
  font-family: "Grechen Fuemen", cursive;
  font-weight: bold;
  font-style: normal;


    
}
 /* .logo {
    width: 160px;
} */
/* .logo {
    width: 50px;   
    height: 50px;  
    margin-right: 200px;
} */




nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li {
    position: relative;
}
nav ul li a {
    padding: 12px 18px;
    text-decoration: none;
    color: #111;
    font-weight: 500;
}
nav ul li a:hover {
    color: #f97316;
}


.cta {
    background: #f97316;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    

}
.cta:hover{
    color:greenyellow;
}


.dropdown-box {
    position: absolute;
    top: 55px;
    left: 0;
    width: 260px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 18px 40px rgba(0,0,0,.15);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .3s;
}

.dropdown:hover .dropdown-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-box a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}
.dropdown-box a span {
    width: 30px;
}


.hero {
    height: 70vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    
}
.hero-content {
    max-width: 700px;
}
.hero h1 {
    font-size: 38px;
}
.hero p {
    margin: 35px 0;
    font-size: 18px;
}


section {
    padding: 80px 20px;
}
.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}


.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 20px;
}
.work-grid img {
    width: 100%;
    border-radius: 8px;
}


footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 20px;
}
.marq{
    font-size: 50px;
}
.abt h1{
     text-align: center;
}

.whatsapp-float {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #25d366;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.whatsapp-float:hover {
  background-color: #0072c6;
}

.call-link {
      text-decoration: none;
      background-color: #0072c6;
      color: white;
      padding: 12px 20px;
      border-radius: 8px;
      font-size: 18px;
      display:inline-flex;
      font-weight: bold;

      /* display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 100px; */
    }
    .call-link:hover {
      background-color: #005fa3;
    }

    .email-link {
      text-decoration: none;
      background-color: #0072c6;
      color: white;
      padding: 12px 20px;
      border-radius: 8px;
      font-size: 18px;
      display: inline-block;
      font-weight: bold;

      /* display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; */
    }
    .email-link:hover {
      background-color: #005fa3;
    }







    .services-section {
  padding: 60px;
  text-align: center;
}

.services-section h1 {
  margin-bottom: 40px;
}

.services-grid {
    margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.service-card {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.service-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.service-card h3 {
  padding: 15px;
  background: #f4b41a;
}

.service-card:hover {
  transform: translateY(-8px);
}


.service-detail h1{
  text-align: center;
}
/* .service-detail ul{
    text-align: center;
    
} */




.contact-details {
    text-align: center;
    margin-top: 30px;
}

.location-btn {
    /* display: inline-block; */
    /* margin-top: 10px; */
    /* padding: 12px 25px; */
    /* background-color: #0072c6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s; */

    text-decoration: none;
      background-color: #0072c6;
      color: white;
      padding: 12px 20px;
      border-radius: 8px;
      font-size: 18px;
      display: inline-block;
      font-weight: bold;

    
    /* display: flex;
    flex-direction: column; */
    /* gap: 15px;
    align-items: center; */

    /* display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap; */


}

.location-btn:hover {
    background-color: #005fa3;
}
